:root {
  --bg: #ffffff;
  --text: #000000;
  --border: #000000;

  --key-bg: #ffffff;
  --key-text: #000000;

  --correct: green;
  --misplaced: goldenrod;
}

html.dark {
  --bg: black;
  --text: #ffffff;
  --border: #ffffff;

  --key-bg: black;
  --key-text: #ffffff;

  --correct: green;
  --misplaced: goldenrod;
}


* {
  box-sizing: border-box;
}

td {
  color: var(--text);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: 0.8s cubic-bezier(0.11, 0, 0.5, 0);
  width: 100%;
  min-height: 100dvh;
}

.theme-transition {
  position: fixed;
  inset: 0;
  background: var(--bg);
  pointer-events: none;
  z-index: -1;
  clip-path: circle(0% at var(--x) var(--y));
  transition: clip-path 1s ease-in-out;
}

.theme-transition.active {
  clip-path: circle(150% at var(--x) var(--y));
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
}

button svg {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

button:hover svg {
  transform: scale(1.1);
}

.dark-ico {
  fill: var(--text);
}

.dark-toggle {
  position: absolute;
  top: 15px;
  right: 50px;
  z-index: 9999;
  transition: 1000ms ease-in-out;
}


#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

#gameBoard {
  z-index: 1000;
}

#wordGrid {
  max-height: 45%;
  max-width: 50%;
  border-collapse: separate;
  border-spacing: 15px;
}

td,
th {
  border: 1px solid var(--border);
  border-radius: 10px;
}

#wordGrid td {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  width: 3rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.keysState {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  height: 30%;
  width: 30%;
  gap: 10px;
}

.key {
  width: 100%;
  height: 65%;
  color: var(--text);
  border-radius: 5px;
  min-width: min-content;
  border: 0.5px solid var(--border);
  font-size: 1rem;
}

.key:empty{
  border: none;
  cursor: auto;
}

.key:hover{
  filter: opacity(0.5);
}

.keyWide{
  grid-column: span 2;
  width: 100%;
}

#resultPopout{
  display: flex;
  justify-content: center;
  align-items: space-around;
  width: 20%;
  height: 50%;
}

#resultPopout-box {
  background-color: var(--text);
  color: var(--bg);
  width: 150%;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
}

#replayBtn {
  position: relative;
  width: 100%;
  bottom: 10px;
  background-color: var(--bg);
  color: var(--text);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

#replayBtn:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

.keyWrong{
    filter: opacity(0.2);
}

.keyMisplaced{
  background-color: var(--misplaced);
}

.keyCorrect{
    background-color: var(--correct) !important;
    color: var(--text);
}

@media screen and (max-width: 600px) {

  .dark-toggle {
    top: 10px;
    right: 10px;
  }

  #wordGrid {
    border-spacing: 5px;
    max-height: 40%;
    max-width: 80%;
  }

  .keysState {
    max-height: 40%;
    max-width: 90vw;
    width: max-content;
    gap:0;
  }

  .key{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
    font-size: 0.75rem;
    padding: 0;
    text-align: center;
  }

  .keyWide{
    width: 100%;
  }

  #app {
    margin-top: 5%;
    max-height: 90vh;
  }

  body {
    overflow: hidden;
  }

  #resultPopout{
    width: 70%;
  }

  #resultPopout-box{
    height: 30vh;
    width: 75vw;
  }
}
